/*
 * =========================================================================
 * APIClud - AUI UI 框架    流浪男  QQ：343757327  http://www.auicss.com
 * 全屏滑动组件
 * Verson 0.0.2
 * =========================================================================
 */
.aui-slider-full {
	position: relative;
	background: #000;
}
.aui-slider-full > .aui-slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000000;
	color: #ffffff;
}
.aui-slider-full > .aui-slider-list {
	position: absolute;
	-webkit-backface-visibility: hidden;
}
.aui-slider-full > .aui-slider-list img {
	width: 100%;
	height: auto;
}
.aui-slider-up {
	position: absolute;
	bottom: 10px;
	left: 50%;
	width: 20px;
	height: 20px;
	z-index: 9999;
	margin-left: -10px;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
}
.aui-silder-right {
	position: absolute;
	right: 10px;
	top: 50%;
	width: 20px;
	height: 20px;
	z-index: 9999;
	margin-top: -10px;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
}
.aui-slider-up .aui-iconfont,
.aui-slider-right .aui-iconfont {
	font-size: 28px;
}
.aui-slider-close {
	background: rgba(102,102,102,0.7);
	top: 30px;
	right: 10px;
	padding: 5px 10px;
	color: #ffffff;
	position: fixed;
	z-index: 999999;
	border-radius: 30px;
	font-size: 12px;
}
@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}
.zoomIn {
	-webkit-animation: zoomIn 1s;
			animation: zoomIn 1s;
}