/*
 * =========================================================================
 * APIClud - AUI UI 框架    流浪男  QQ：343757327  http://www.auicss.com
 * 索引列表样式
 * Verson 0.0.1
 * =========================================================================
 */
 .aui-searchbar-wrap.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
}
.aui-indexed-list {
	position: relative;
	width: 100%;
	top: 50px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.aui-indexed-list::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	visibility: hidden;
}
.aui-indexed-list-bar {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 30px;
    z-index: 10;
    opacity: 0.6;
}
.aui-indexed-list-bar a {
	display: block;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #666666;
    height: 14px;
    line-height: 14px;
}
.aui-indexed-list-bar a .aui-iconfont {
	font-size: 12px;
}
.aui-list-view {
	margin-bottom: 0;
}
.aui-indexed-list-toast {
    position: fixed;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    font-size: 26px;
    color: #fff;
    z-index: 0;
    opacity: 0;
    -webkit-transition: all .5s;
        	transition:all .5s;
    -webkit-transform: translateX(100%);
        	transform: translateX(100%);
}
.aui-indexed-list-toast.active {
	display: block;
	-webkit-animation: fadeInRight 0.3s;
    		animation: fadeInRight 0.3s;
    -webkit-transition: all 0s;
        	transition:all 0s;
    opacity: 1;
    -webkit-transform: translateX(0%);
        transform: translateX(0%);

}
.aui-indexed-list-view {
	position: relative;
	background-color: #ffffff;
}
.aui-indexed-list-view-group {
	background: #f4f4f4;
	padding: 5px 15px;
	font-weight: 400;
	font-size: 14px;
	color: #999;
	margin-top: -1px;
	position: relative;
}
.aui-indexed-list-view-group:before {
	border-top: 1px solid #c8c7cc;
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transform-origin: 0 0;
	-webkit-transform: scale(1);
	pointer-events: none;
}
.aui-indexed-list-view.aui-in .aui-indexed-list-view-group:after {
  	left:0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .aui-indexed-list-view-group:before {
        right: -100%;
        bottom: -100%;
        -webkit-transform: scale(0.5);
    }
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}