html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
}
h1 {
  font-size:36px;
  margin:15px;
  text-align:center;
  color:#666;
}
h2 {
  font-size:14px;
  font-weight:bold;
  color:#3c3c3c;
  margin:20px 10px 10px;
}
small {
  margin:0 10px 30px;
  display:block;
  font-size:12px;
}
a {
  margin:0 0 0 10px;
  font-size:12px;
  color:#3c3c3c;
}
.swipe {
  margin-bottom:20px;
  overflow:hidden;
  position:relative;
  width:100%;
}
.swipe ul{
    overflow:hidden;
}
.swipe li div, .swipe div div div {
  padding:50px 10px;
  background:#1db1ff;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
}
.swipe li  img{
	max-width:80%;
}
.swipe li{
	margin:10px;
}
#slider2 li{
    width:230px;
}
#slider4{
	line-height:0;
	text-align:center;
}
#slider4 ul{
	-webkit-transition:left 800ms ease-in 0;
	-moz-transition:left 800ms ease-in 0;
	-o-transition:left 800ms ease-in 0;
	-ms-transition:left 800ms ease-in 0;
	transition:left 800ms ease-in 0;
}
#pagenavi a.active{
	color:red;
}
#copyright{
	text-align:center;
	font-size:16px;
	padding:30px 0;
}
#copyright a{
	font-weight:bold;
	font-size:16px;
}

#slider li{
	width:300px;
	float:left;
}
#slider li:first-child{
	width:100px;
	margin:10px 40px;
}
#slider li:last-child{
	width:500px;
	border:3px solid #111;
}
#slider li:nth-child(2){
	width:200px;
}
#slider li:nth-child(3){
	width:300px;
}
#slider li:nth-child(4){
	width:400px;
}
#slider1 li{
	width:240px;
}
